<nav>
	<div class="logo">
		<a href="/">
			<img src="https://thumbs.dreamstime.com/b/temporary-rubber-stamp-over-white-background-86664158.jpg" alt="Logo" width="100" height="50"> 
        </a>
	</div>
	<div class="profile" onmouseover="showButtons()" onmouseout="hideButtons()">
		<a href="#">Profile</a>
		<div id="help" class="help" style="display: none;">
			<a href="#" onclick="help()">Help</a>
		</div>
		<div id="logout" class="logout" style="display: none;">
			<a href="#" onclick="logout()">Logout</a>
		</div>
	</div>
</nav>

<div class="nav-container">
	<div class="nav-bar">
		<a href="/" style="text-decoration: none; color: inherit;">
			<div class="nav-button">Hub</div>
		</a>
		<a href="/manager" style="text-decoration: none; color: inherit;">
			<div class="nav-button">Manager</div>
		</a>
		<a href="/producer" style="text-decoration: none; color: inherit;">
			<div class="nav-button">Producer</div>
		</a>
		<a href="/dj" style="text-decoration: none; color: inherit;">
			<div class="nav-button">DJ</div>
		</a>
	</div>
</div>

<style>
	.profile {
	position: relative;
	}

	.logout, .help {
	position: absolute;
	top: 0;
	padding: 5px 10px; /* Adjust padding */
	}

	.help {
	right: calc(100% + 10px); /* Adjust the distance from the profile button */
	}

	.logout {
	right: calc(100% + 120px); /* Adjust the distance from the profile button */
	}
</style>

<script>
	var buttonsTimeout;

	function showButtons() {
	clearTimeout(buttonsTimeout);
	document.getElementById("logout").style.display = "block";
	document.getElementById("help").style.display = "block";
	}

	function hideButtons() {
	buttonsTimeout = setTimeout(function() {
	document.getElementById("logout").style.display = "none";
	document.getElementById("help").style.display = "none";
	}, 200); // Adjust the delay as needed (200 milliseconds in this example)
	}

	function resetButtonsTimeout() {
	clearTimeout(buttonsTimeout);
	}
</script>